@page "/"

@using System.Text.Json;
@using System.Text;
@using CommunityToolkit.Maui.Storage;
@using YTApi.Commons.Models;
@using YTApi.Commons;
@using YTCmtyParser.Commons.Extensions;
@using YTCmtyParser.Commons.Sets;
@using YTCmtyParser.Commons.Utils;
@using YTCmtyParser.Commons;
@using YTCmtyParser.Data;
@inject IHttpClientFactory httpClientFactory;
@inject YTCmtyService ytCmtyService;

<h1>
    <i class="bi bi-chat-left-text" aria-hidden="true"></i>&nbsp;
    獲取社群貼文
</h1>
<div class="card mb-2">
    <div class="card-body">
        <div class="col-12">
            <div class="row">
                <div>
                    <button class="btn btn-outline-secondary mb-1"
                            @onclick="async () => await ImportJsonFile()"
                            disabled="@isBtnImportJsonFileDisabled">
                        <i class="bi bi-upload" aria-hidden="true"></i>
                        &nbsp;
                        載入 JSON 檔案
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-2">
    <div class="card-body">
        <div class="col-12">
            <div class="form-floating mb-2">
                <select class="form-select"
                        id="sChannel"
                        @bind="ytChUrl"
                        @bind:event="oninput"
                        @onchange="async (evt) => await CheckInputEnabled(evt.Value)"
                        aria-label="YouTube 頻道">
                    <option value="">
                        - 請選擇 -
                    </option>
                    @if (sharedChannels?.Any() == true)
                    {
                        @foreach (ChannelData channelData in sharedChannels)
                        {
                            <option value="@channelData.Url">
                                @channelData.Name
                            </option>
                        }
                    }

                </select>
                <label for="sChannel">YouTube 頻道</label>
            </div>
            <div class="mb-2">
                <label for="iYtChUrl" class="form-label">YouTube 頻道網址</label>
                <input id="iYtChUrl" type="url"
                       class="form-control"
                       @bind="ytChUrl"
                       @bind:event="oninput"
                       @onchange="async (evt) => await ParseUrl(evt.Value)"
                       placeholder="網址"
                       disabled="@isInputYtChUrlDisabled"></input>
            </div>
            <div class="mb-2">
                <button class="btn btn-primary mb-1"
                        @onclick="async () => await FetchInitialPosts(ytChUrl)"
                        disabled="@isBtnFetchLatestPostsDisabled">
                    <i class="bi bi-cloud-arrow-down" aria-hidden="true"></i>
                    &nbsp;
                    獲取最新的社群貼文
                </button>
                &nbsp;
                <button class="btn btn-outline-secondary mb-1"
                        @onclick="async () => await FetchOlderPosts()"
                        disabled="@isBtnFetchOlderPostsDisabled">
                    <i class="bi bi-cloud-arrow-down" aria-hidden="true"></i>
                    &nbsp;
                    獲取先前的社群貼文
                </button>
                &nbsp;
                <button class="btn btn-outline-secondary mb-1"
                        @onclick="async () => await FetchRestPosts()"
                        disabled="@isBtnFetchRestPostsDisabled">
                    <i class="bi bi-cloud-arrow-down" aria-hidden="true"></i>
                    &nbsp;
                    獲取剩餘的社群貼文
                </button>
            </div>
            <div class="mb-2">
                <div class="form-check">
                    <input id="cbSetDataUri"
                           type="checkbox"
                           class="form-check-input"
                           @bind="enableSetDataUri"
                           @bind:event="oninput"
                           @onchange="(evt) => SaveSetting(evt.Value)" />
                    <label for="cbSetDataUri"
                           class="form-check-label"
                           title="獲取圖片的 Data URI ※在 Android 作業系統上不會使用 Data URI 顯示圖片">
                        <i class="bi bi-card-image" aria-hidden="true"></i>&nbsp;
                        設定資料統一資源標識符
                    </label>
                </div>
            </div>
            <div class="text-end">
                <button class="btn btn-outline-danger mb-1"
                        @onclick="Reset"
                        disabled="@isBtnResetDisabled">
                    <i class="bi bi-arrow-clockwise" aria-hidden="true"></i>
                    &nbsp;
                    重設
                </button>
            </div>
        </div>
    </div>
</div>
@{
    @if (sharedPostDatas.Any())
    {
        <div class="col-12">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-outline-danger mb-1"
                                        @onclick="async () => await DeletePosts()">
                                    <i class="bi bi-trash" aria-hidden="true"></i>
                                    &nbsp;
                                    刪除貼文
                                </button>
                                &nbsp;
                                <button class="btn btn-outline-secondary mb-1"
                                        @onclick="async () => await ExportJsonFile()">
                                    <i class="bi bi-download" aria-hidden="true"></i>
                                    &nbsp;
                                    匯出 JSON 檔案
                                </button>
                                &nbsp;
                                <button class="btn btn-outline-secondary mb-1"
                                        @onclick="async () => await SendPostsToDiscord()">
                                    <i class="bi bi-discord" aria-hidden="true"></i>
                                    &nbsp;
                                    傳送貼文至 Discord
                                </button>
                            </div>
                            <div class="col text-end">
                                已獲取的貼文數量：
                                <span class="text-info">
                                    @sharedPostDatas.Count
                                </span>
                                <br />
                                已選取的貼文數量：
                                <span class="text-warning">
                                    @sharedPostDatas.Where(n => n.IsChecked).Count()
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <div class="form-check">
                    <input id="cbSelectAll"
                           type="checkbox"
                           class="form-check-input"
                           @bind="isCBCheckAllChecked"
                           @bind:event="oninput"
                           @onchange="(evt) => DoCheckAllClicked(evt.Value)" />
                    <label for="cbSelectAll" class="form-check-label">全選貼文</label>&nbsp;
                </div>
            </div>
            <div>
                @foreach (PostData postData in sharedPostDatas)
                {
                    string whoCanSee = postData.IsSponsorsOnly ? "頻道會員專屬" : "所有頻道會員";
                    string whoCanSeeClass = postData.IsSponsorsOnly ? "text-success" : string.Empty;

                    <div class="card mb-2">
                        <div class="card-header">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-7 text-start" style="vertical-align: middle;">
                                        <div>
                                            <input type="checkbox" class="form-check-input"
                                                   @bind="@postData.IsChecked"
                                                   @bind:event="oninput"
                                                   @onchange="(evt) => DoPostDataCheckboxClicked(postData.PostID, evt.Value)"
                                                   title="點選以選取此貼文" />
                                            &nbsp;
                                            <i class="bi bi-people" aria-hidden="true"></i>
                                            &nbsp;
                                            <span class="@whoCanSeeClass">@whoCanSee</span>
                                        </div>
                                        <div>
                                            <i class="bi bi-chat-left-text" aria-hidden="true"></i>
                                            &nbsp;
                                            <a class="card-link"
                                               href="@postData.Url"
                                               target="_blank">@postData.PostID</a>
                                        </div>
                                        <div class="text-muted">
                                            <i class="bi bi-calendar" aria-hidden="true"></i>
                                            &nbsp;
                                            @postData.PublishedTimeText?.TrimStart().TrimEnd()&nbsp;
                                            <i class="bi bi-heart" aria-hidden="true"></i>
                                            &nbsp;
                                            @postData.VoteCount?.TrimStart().TrimEnd()
                                        </div>
                                    </div>
                                    @{
                                        string? authorThumbnailUrl = postData.AuthorThumbnailUrl;

                                        if (DeviceInfo.Platform != DevicePlatform.Android)
                                        {
                                            authorThumbnailUrl = string.IsNullOrEmpty(postData.AuthorThumbnailDataUri) ?
                                            postData.AuthorThumbnailUrl :
                                            postData.AuthorThumbnailDataUri;
                                        }
                                    }
                                    <div class="col-md-5 text-end">
                                        <a href="@postData.AuthorThumbnailUrl" target="_blank">
                                            <img class="img-thumbnail"
                                                 src="@authorThumbnailUrl"
                                                 alt="@postData.AuthorText">
                                        </a>
                                        &nbsp;
                                        @postData.AuthorText
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-12 text-start">
                                <button class="btn btn-outline-danger mb-1"
                                        @onclick="async () => await DeletePost(postData.PostID)">
                                    <i class="bi bi-trash" aria-hidden="true"></i>
                                    &nbsp;
                                    刪除貼文
                                </button>
                                &nbsp;
                                <button class="btn btn-outline-secondary mb-1"
                                        @onclick="async () => await ExportJsonFile(postData.PostID)">
                                    <i class="bi bi-download" aria-hidden="true"></i>
                                    &nbsp;
                                    匯出 JSON 檔案
                                </button>
                                &nbsp;
                                <button class="btn btn-outline-secondary mb-1"
                                        @onclick="async () => await SendPostToDiscord(postData.PostID)">
                                    <i class="bi bi-discord" aria-hidden="true"></i>
                                    &nbsp;
                                    傳送至 Discord
                                </button>
                            </div>
                            <hr />
                            @if (postData.ContentTexts?.Any() == true)
                            {
                                @foreach (RunData runData in postData.ContentTexts)
                                {
                                    <div style="white-space: pre-wrap; line-break: anywhere;">
                                        @if (runData.IsLink)
                                        {
                                            <a class="card-link" href="@runData.Url" target="_blank">@runData.Text</a>
                                        }
                                        else
                                        {
                                            @runData.Text
                                        }
                                    </div>
                                }
                            }
                        </div>
                        @if (postData.Attachments?.Any() == true)
                        {
                            int idx = 1;

                            @foreach (AttachmentData attachmentData in postData.Attachments)
                            {
                                @if (attachmentData.IsVideo)
                                {
                                    VideoData? videoData = attachmentData.VideoData;

                                    if (videoData != null)
                                    {
                                        string? attachmentUrl = videoData?.ThumbnailUrl;

                                        if (DeviceInfo.Platform != DevicePlatform.Android)
                                        {
                                            attachmentUrl = string.IsNullOrEmpty(attachmentData.DataUri) ?
                                            videoData?.ThumbnailUrl :
                                            attachmentData.DataUri;
                                        }

                                        <a href="@videoData?.ThumbnailUrl" target="_blank">
                                            <img class="card-img-top" src="@attachmentUrl" alt="影片的預覽圖">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <a class="card-link" href="@videoData?.Url" target="_blank">@videoData?.Title</a>
                                            </h5>
                                            <h6 class="card-subtitle mb-2 text-muted">
                                                <span class="bi bi-person" aria-hidden="true"></span>
                                                &nbsp;
                                                @videoData?.OwnerText?.TrimStart().TrimEnd()
                                            </h6>
                                            <p class="card-text">
                                                <span class="bi bi-calendar" aria-hidden="true"></span>
                                                &nbsp;
                                                @videoData?.PublishedTimeText?.TrimStart().TrimEnd()
                                            </p>
                                            <p class="card-text">
                                                <i class="bi bi-stopwatch" aria-hidden="true"></i>
                                                &nbsp;
                                                @videoData?.LengthText?.TrimStart().TrimEnd()
                                            </p>
                                            <p class="card-text">
                                                <i class="bi bi-info-circle" aria-hidden="true"></i>
                                                &nbsp;簡述：
                                            </p>
                                            <div style="white-space: pre-wrap; line-break: anywhere;">
                                                @videoData?.DescriptionSnippet?.TrimStart().TrimEnd()
                                            </div>
                                        </div>
                                    }
                                }
                                else if (attachmentData.IsPoll)
                                {
                                    PollData? pollData = attachmentData?.PollData;
                                    List<ChoiceData>? choiceDatas = pollData?.ChoiceDatas;

                                    if (pollData != null && choiceDatas != null)
                                    {
                                        <div class="card-body">
                                            <hr />
                                            <h5 class="card-title">
                                                投票選項：
                                            </h5>
                                        </div>
                                        <div class="row row-cols-1 g-2 ms-2 me-2 mb-2">
                                            @foreach (ChoiceData choiceData in choiceDatas)
                                            {
                                                string? attachmentUrl = choiceData?.ImageUrl;

                                                if (DeviceInfo.Platform != DevicePlatform.Android)
                                                {
                                                    attachmentUrl = string.IsNullOrEmpty(choiceData?.ImageDataUri) ?
                                                    choiceData?.ImageUrl :
                                                    choiceData?.ImageDataUri;
                                                }
                                                <div class="col">
                                                    <div class="card">
                                                        <div class="row g-0">
                                                            @if (!string.IsNullOrEmpty(choiceData?.ImageUrl))
                                                            {
                                                                <div class="col-md-4">
                                                                    <a href="@choiceData?.ImageUrl" target="_blank">
                                                                        <img src="@attachmentUrl" class="img-fluid rounded-start" alt="@choiceData?.Text">
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">@choiceData?.Text</h5>
                                                                        @if (!string.IsNullOrEmpty(choiceData?.Text))
                                                                        {
                                                                            string value = choiceData?.VotePercentage?.Replace("%", string.Empty) ?? "0";

                                                                            @if (value != "0")
                                                                            {
                                                                                <div class="progress" role="progressbar" aria-label="投票率" aria-valuenow="@value" aria-valuemin="0" aria-valuemax="100">
                                                                                    <div class="progress-bar" style="width: @value%">@choiceData?.VotePercentage</div>
                                                                                </div>
                                                                            }

                                                                            @if (!string.IsNullOrEmpty(choiceData?.NumVotes))
                                                                            {
                                                                                <p class="card-text">投票數：@choiceData?.NumVotes 票</p>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-md-12">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">@choiceData?.Text</h5>
                                                                        @if (!string.IsNullOrEmpty(choiceData?.Text))
                                                                        {
                                                                            string value = choiceData?.VotePercentage?.Replace("%", string.Empty) ?? "0";

                                                                            @if (value != "0")
                                                                            {
                                                                                <div class="progress" role="progressbar" aria-label="投票率" aria-valuenow="@value" aria-valuemin="0" aria-valuemax="100">
                                                                                    <div class="progress-bar" style="width: @value%">@choiceData?.VotePercentage</div>
                                                                                </div>
                                                                            }

                                                                            @if (!string.IsNullOrEmpty(choiceData?.NumVotes))
                                                                            {
                                                                                <p class="card-text">投票數：@choiceData?.NumVotes 票</p>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                總投票票數：@pollData?.TotalVotes
                                            </p>
                                        </div>
                                    }
                                }
                                else
                                {
                                    string? attachmentUrl = attachmentData.Url;

                                    if (DeviceInfo.Platform != DevicePlatform.Android)
                                    {
                                        attachmentUrl = string.IsNullOrEmpty(attachmentData.DataUri) ?
                                        attachmentData.Url :
                                        attachmentData.DataUri;
                                    }

                                    <div class="img_container">
                                        <a href="@attachmentData.Url" target="_blank">
                                            <img class="card-img-bottom" src="@attachmentUrl" alt="附件 @idx">
                                        </a>
                                        <button class="btn btn-danger btn-sm mb-1"
                                                @onclick="async () => await DeleteAttachment(postData.PostID, attachmentData.Url)">
                                            <i class="bi bi-trash" aria-hidden="true"></i>
                                            &nbsp;
                                            刪除附件
                                        </button>
                                    </div>
                                }

                                idx++;
                            }
                        }
                        <div class="card-footer text-muted">
                            <i class="bi bi-link" aria-hidden="true"></i>
                            &nbsp;
                            <a class="card-link"
                               href="@postData.Url"
                               target="_blank">@postData.Url</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}

@code {
    // 按鈕的啟用、禁用控制。
    protected bool isBtnFetchLatestPostsDisabled { get; set; } = false;
    protected bool isBtnFetchOlderPostsDisabled { get; set; } = true;
    protected bool isBtnFetchRestPostsDisabled { get; set; } = true;
    protected bool isBtnImportJsonFileDisabled { get; set; } = false;
    protected bool isBtnResetDisabled { get; set; } = true;
    // checkbox 的勾選控制。
    protected bool isCBCheckAllChecked { get; set; }
    protected bool enableSetDataUri { get; set; } = false;
    // input 的啟用、禁用控制。
    protected bool isInputYtChUrlDisabled { get; set; } = false;

    // 共用變數。
    private YTConfig? sharedYTConfig;
    private string sharedReferer = string.Empty;
    private List<PostData> sharedPostDatas = new();
    private string? ytChUrl = string.Empty;
    private List<ChannelData>? sharedChannels = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadPrefs();

        await Task.CompletedTask;
    }

    /// <summary>
    /// 載入設定
    /// </summary>
    /// <returns>Task</returns>
    private async Task LoadPrefs()
    {
        try
        {
            if (File.Exists(FileSet.ChannelsJson))
            {
                using FileStream fileStream = File.OpenRead(FileSet.ChannelsJson);

                sharedChannels = await JsonSerializer
                    .DeserializeAsync<List<ChannelData>>(fileStream);
            }

            bool hasEnableSetDataUri = PreferencesUtil.HasKey(KeySet.EnableSetDataUri);

            enableSetDataUri = hasEnableSetDataUri ?
                PreferencesUtil.GetBooleanValue(KeySet.EnableSetDataUri) :
                false;
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 儲存設定
    /// </summary>
    /// <param name="inputValue">object</param>
    /// <returns>Task</returns>
    private async Task SaveSetting(object? inputValue)
    {
        try
        {
            bool value = Convert.ToBoolean(inputValue);

            PreferencesUtil.SetValue(KeySet.EnableSetDataUri, value);

            await AlertUtil.ShowToast($"{(value ? "已啟用" : "已停用")}設定資料統一資源標識符");
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 檢查是否啟用 input
    /// </summary>
    /// <param name="inputValue">object</param>
    private async Task CheckInputEnabled(object? inputValue)
    {
        try
        {
            string? value = Convert.ToString(inputValue);

            isInputYtChUrlDisabled = string.IsNullOrEmpty(value) ? false : true;
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 解析網址
    /// </summary>
    /// <param name="inputValue">object</param>
    private async Task ParseUrl(object? inputValue)
    {
        try
        {
            string? value = Convert.ToString(inputValue);

            if (string.IsNullOrEmpty(value))
            {
                return;
            }

            if (value.StartsWith("@"))
            {
                ytChUrl = $"{YTApi.Commons.Sets.StringSet.Origin}/{value}";
            }
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 執行全選貼文 Checkbox 點擊
    /// </summary>
    /// <param name="value">object</param>
    private void DoCheckAllClicked(object? value)
    {
        bool isChecked = Convert.ToBoolean(value);

        foreach (PostData postData in sharedPostDatas)
        {
            postData.IsChecked = isChecked;
        }
    }

    /// <summary>
    /// 執行貼文的 Checkbox 點擊
    /// </summary>
    /// <param name="postID">字串，貼文的 ID</param>
    /// <param name="value">object</param>
    private void DoPostDataCheckboxClicked(string? postID, object? value)
    {
        if (string.IsNullOrEmpty(postID))
        {
            return;
        }

        bool isChecked = Convert.ToBoolean(value);

        PostData? postData = sharedPostDatas.FirstOrDefault(n => n.PostID == postID);

        if (postData != null)
        {
            postData.IsChecked = isChecked;

            if (isCBCheckAllChecked && isChecked == false)
            {
                isCBCheckAllChecked = false;
            }
        }
    }

    /// <summary>
    /// 獲取初始的社群貼文
    /// </summary>
    /// <param name="url">字串，YouTube 頻道網址</param>
    /// <returns>Task</returns>
    private async Task FetchInitialPosts(string url)
    {
        try
        {
            if (string.IsNullOrEmpty(url))
            {
                await AlertUtil.ShowToast("請輸入 YouTube 頻道網址。");

                return;
            }

            string? channelID = await ApiFunction.GetYtChID(url);

            if (string.IsNullOrEmpty(channelID))
            {
                await AlertUtil.ShowToast("無法取得 YouTube 頻道的 ID，請確認您輸入的是正確的YouTube 頻道網址。");

                return;
            }

            using HttpClient httpClient = CustomFunction.GetHttpClient(
                httpClientFactory: httpClientFactory);

            InitialData initialData = await ytCmtyService.GetInitialData(
                httpClient: httpClient,
                channelID: channelID,
                cookies: CustomFunction.GetCookies());

            sharedReferer = initialData.Referer ?? string.Empty;

            sharedYTConfig = initialData.ConfigData;

            List<PostData> initialPosts = ytCmtyService.GetInitialPosts(
                jsonElement: initialData.JsonData,
                ytConfig: sharedYTConfig);

            if (initialPosts.Any())
            {
                // 當有已有貼文資料時。（e.g. 載入 JSON 檔案）
                if (sharedPostDatas.Any())
                {
                    // 反向排序 initialPosts。
                    initialPosts.Reverse();

                    foreach (PostData postData in initialPosts)
                    {
                        if (!sharedPostDatas.Any(n => n.PostID == postData.PostID))
                        {
                            if (enableSetDataUri)
                            {
                                await CustomFunction.SetDataUri(postData);

                                if (postData.Attachments != null)
                                {
                                    foreach (AttachmentData attachmentData in postData.Attachments)
                                    {
                                        await CustomFunction.SetDataUri(attachmentData);
                                    }
                                }
                            }

                            sharedPostDatas.Insert(0, postData);
                        }
                    }
                }
                else
                {
                    foreach (PostData postData in initialPosts)
                    {
                        if (!sharedPostDatas.Any(n => n.PostID == postData.PostID))
                        {
                            if (enableSetDataUri)
                            {
                                await CustomFunction.SetDataUri(postData);

                                if (postData.Attachments != null)
                                {
                                    foreach (AttachmentData attachmentData in postData.Attachments)
                                    {
                                        await CustomFunction.SetDataUri(attachmentData);
                                    }
                                }
                            }

                            sharedPostDatas.Add(postData);
                        }
                    }
                }

                isBtnFetchLatestPostsDisabled = true;
                isBtnFetchOlderPostsDisabled = false;
                isBtnFetchRestPostsDisabled = false;
                isBtnImportJsonFileDisabled = true;
                isBtnResetDisabled = false;
            }
            else
            {
                await AlertUtil.ShowToast("此 YouTube 頻道並無社群貼文可供獲取。");
            }
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 獲取先前的社群貼文
    /// </summary>
    /// <returns>Task</returns>
    private async Task FetchOlderPosts()
    {
        try
        {
            if (string.IsNullOrEmpty(sharedYTConfig?.Continuation))
            {
                isBtnFetchOlderPostsDisabled = true;
                isBtnFetchRestPostsDisabled = true;

                await AlertUtil.ShowToast("無法取得先前的社群貼文。");

                return;
            }

            using HttpClient httpClient = CustomFunction.GetHttpClient(
                httpClientFactory: httpClientFactory);

            List<PostData> oldertPosts = await ytCmtyService.GetEarlierPosts(
                httpClient: httpClient,
                ytConfig: sharedYTConfig,
                cookies: CustomFunction.GetCookies(),
                referer: sharedReferer);

            if (oldertPosts.Any())
            {
                foreach (PostData postData in oldertPosts)
                {
                    if (!sharedPostDatas.Any(n => n.PostID == postData.PostID))
                    {
                        if (enableSetDataUri)
                        {
                            await CustomFunction.SetDataUri(postData);

                            if (postData.Attachments != null)
                            {
                                foreach (AttachmentData attachmentData in postData.Attachments)
                                {
                                    await CustomFunction.SetDataUri(attachmentData);
                                }
                            }
                        }

                        sharedPostDatas.Add(postData);
                    }
                }
            }
            else
            {
                await AlertUtil.ShowToast("此 YouTube 頻道並無先前的社群貼文可供獲取。");
            }
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 獲取剩餘的社群貼文
    /// </summary>
    /// <returns>Task</returns>
    private async Task FetchRestPosts()
    {
        try
        {
            while (!string.IsNullOrEmpty(sharedYTConfig?.Continuation))
            {
                using HttpClient httpClient = CustomFunction.GetHttpClient(
                    httpClientFactory: httpClientFactory);

                List<PostData> oldertPosts = await ytCmtyService.GetEarlierPosts(
                    httpClient: httpClient,
                    ytConfig: sharedYTConfig,
                    cookies: CustomFunction.GetCookies(),
                    referer: sharedReferer);

                if (oldertPosts.Any())
                {
                    foreach (PostData postData in oldertPosts)
                    {
                        if (!sharedPostDatas.Any(n => n.PostID == postData.PostID))
                        {
                            if (enableSetDataUri)
                            {
                                await CustomFunction.SetDataUri(postData);

                                if (postData.Attachments != null)
                                {
                                    foreach (AttachmentData attachmentData in postData.Attachments)
                                    {
                                        await CustomFunction.SetDataUri(attachmentData);
                                    }
                                }
                            }

                            sharedPostDatas.Add(postData);
                        }
                    }
                }

                await CustomFunction.DoEasyDelay();
            }

            if (string.IsNullOrEmpty(sharedYTConfig?.Continuation))
            {
                isBtnFetchOlderPostsDisabled = true;
                isBtnFetchRestPostsDisabled = true;

                await AlertUtil.ShowToast("已取得先前的全部社群貼文。");

                return;
            }
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 重設
    /// </summary>
    private void Reset()
    {
        sharedYTConfig = null;
        sharedReferer = string.Empty;
        sharedPostDatas.Clear();

        isBtnFetchLatestPostsDisabled = false;
        isBtnFetchOlderPostsDisabled = true;
        isBtnFetchRestPostsDisabled = true;
        isBtnImportJsonFileDisabled = false;
        isBtnResetDisabled = true;
        isCBCheckAllChecked = false;
    }

    /// <summary>
    /// 匯入 JSON 檔案
    /// </summary>
    /// <param name="ct">CancellationToken</param>
    /// <returns>Task</returns>
    private async Task ImportJsonFile(CancellationToken ct = default)
    {
        try
        {
            Dictionary<DevicePlatform, IEnumerable<string>> fileTypes = new()
            {
                { DevicePlatform.iOS, new string[] { "public.json" } },
                { DevicePlatform.WinUI, new string[] { ".json" } },
                { DevicePlatform.Tizen, new string[] { "*/*" } },
                { DevicePlatform.tvOS, new string[] { "public.json" } },
                { DevicePlatform.MacCatalyst, new string[] { "public.json" } },
                { DevicePlatform.macOS, new string[] { "public.json" } },
                { DevicePlatform.watchOS, new string[] { "public.json" } },
                { DevicePlatform.Unknown, new string[] { ".json" } },
                { DevicePlatform.Android, new string[] { "application/json" } }
            };

            PickOptions pickOptions = new PickOptions()
                {
                    FileTypes = new FilePickerFileType(fileTypes),
                    PickerTitle = "請選擇 JSON 檔案"
                };

            FileResult? result = await FilePicker.Default.PickAsync(pickOptions);

            if (result != null)
            {
                if (result.FileName.EndsWith("json", StringComparison.OrdinalIgnoreCase))
                {
                    using Stream stream = await result.OpenReadAsync();

                    ExportData? exportData = await JsonSerializer
                        .DeserializeAsync<ExportData?>(
                            utf8Json: stream,
                            cancellationToken: ct);

                    if (exportData != null)
                    {
                        ytChUrl = exportData.Url;

                        if (exportData.PostDatas != null)
                        {
                            sharedPostDatas.Clear();
                            sharedPostDatas.AddRange(exportData.PostDatas);
                        }

                        isBtnResetDisabled = false;

                        await AlertUtil.ShowToast("已匯入 JSON 檔案。");
                    }
                }
                else
                {
                    await AlertUtil.ShowToast("請選擇 JSON 檔案。");
                }
            }
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 匯出 JSON 檔案
    /// </summary>
    /// <param name="ct">CancellationToken</param>
    /// <returns>Task</returns>
    private async Task ExportJsonFile(CancellationToken ct = default)
    {
        try
        {
            if (!sharedPostDatas.Any())
            {
                await AlertUtil.ShowToast($"匯出 JSON 檔失敗，請先獲取 YouTube 社群貼文。");

                return;
            }

            List<PostData> postDatas = (sharedPostDatas.Any(n => n.IsChecked) ?
                sharedPostDatas.Where(n => n.IsChecked) :
                sharedPostDatas)
                .ToList();

            ExportData exportData = new()
                {
                    Url = ytChUrl,
                    PostDatas = postDatas
                };

            string jsonContent = exportData.ToJsonString();

            byte[] bytes = Encoding.UTF8.GetBytes(jsonContent);

            using MemoryStream memoryStream = new(bytes);

            string fileName = $"YouTube_Community_Posts_{DateTime.Now:yyyyMMddHHmmss}.json";

            FileSaverResult? fileSaverResult = await CustomFunction.GetFileSaverResult(
                fileName: fileName,
                stream: memoryStream,
                cancellationToken: ct);

            fileSaverResult?.EnsureSuccess();

            if (fileSaverResult?.IsSuccessful == true)
            {
                await AlertUtil.ShowToast($"檔案已儲存至：{fileSaverResult.FilePath}");
            }
            else
            {
                string errMsg = fileSaverResult?.Exception?.Message ?? string.Empty;

                await AlertUtil.ShowErrorAlert(errMsg);
            }
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 匯出 JSON 檔案（指定貼文）
    /// </summary>
    /// <param name="postID">字串，貼文的 ID</param>
    /// <param name="ct">CancellationToken</param>
    /// <returns>Task</returns>
    private async Task ExportJsonFile(string? postID, CancellationToken ct = default)
    {
        try
        {
            if (string.IsNullOrEmpty(postID))
            {
                await AlertUtil.ShowToast($"發生錯誤，無效的貼文 ID：{postID}。");

                return;
            }

            PostData? postData = sharedPostDatas.FirstOrDefault(n => n.PostID == postID);

            if (postData == null)
            {
                await AlertUtil.ShowToast($"發生錯誤，找不到對應的貼文資料，貼文 ID：{postID}。");

                return;
            }

            List<PostData> postDatas = new();

            postDatas.Add(postData);

            ExportData exportData = new()
                {
                    Url = ytChUrl,
                    PostDatas = postDatas
                };

            string jsonContent = exportData.ToJsonString();

            byte[] bytes = Encoding.UTF8.GetBytes(jsonContent);

            using MemoryStream memoryStream = new(bytes);

            string fileName = $"YouTube_Community_Post_{postID}_{DateTime.Now:yyyyMMddHHmmss}.json";

            FileSaverResult? fileSaverResult = await CustomFunction.GetFileSaverResult(
                fileName: fileName,
                stream: memoryStream,
                cancellationToken: ct);

            fileSaverResult?.EnsureSuccess();

            if (fileSaverResult?.IsSuccessful == true)
            {
                await AlertUtil.ShowToast($"檔案已儲存至：{fileSaverResult.FilePath}");
            }
            else
            {
                string errMsg = fileSaverResult?.Exception?.Message ?? string.Empty;

                await AlertUtil.ShowErrorAlert(errMsg);
            }
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 傳送貼文至 Discord
    /// </summary>
    /// <returns>Task</returns>
    private async Task SendPostsToDiscord()
    {
        try
        {
            IEnumerable<PostData> selectedPostDatas = sharedPostDatas.Where(n => n.IsChecked);

            if (!selectedPostDatas.Any())
            {
                await AlertUtil.ShowToast("請先勾選要傳送至 Discord 文字頻道的貼文。");

                return;
            }

            string? webhookUrl = await CustomFunction.GetWebhookUrl();

            if (string.IsNullOrEmpty(webhookUrl))
            {
                return;
            }

            foreach (PostData postData in selectedPostDatas)
            {
                await DiscordUtil.SendToDiscord(postData, webhookUrl)
                    .ContinueWith(async task => await CustomFunction.DoEasyDelay());
            }

            await AlertUtil.ShowToast("已傳送貼文至 Discord 文字頻道。");
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 傳送貼文至 Discord（指定貼文）
    /// </summary>
    /// <param name="postID">字串，貼文的 ID</param>
    /// <returns>Task</returns>
    private async Task SendPostToDiscord(string? postID)
    {
        try
        {
            if (string.IsNullOrEmpty(postID))
            {
                await AlertUtil.ShowToast($"發生錯誤，無效的貼文 ID：{postID}。");

                return;
            }

            PostData? postData = sharedPostDatas.FirstOrDefault(n => n.PostID == postID);

            if (postData == null)
            {
                await AlertUtil.ShowToast($"發生錯誤，找不到對應的貼文資料，貼文 ID：{postID}。");

                return;
            }

            string? webhookUrl = await CustomFunction.GetWebhookUrl();

            if (string.IsNullOrEmpty(webhookUrl))
            {
                return;
            }

            await DiscordUtil.SendToDiscord(postData, webhookUrl);

            await AlertUtil.ShowToast("已傳送貼文至 Discord 文字頻道。");
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 刪除貼文
    /// </summary>
    /// <returns>Task</returns>
    private async Task DeletePosts()
    {
        try
        {
            bool? confirm = await AlertUtil.ShowConfirmAlert(
                "刪除貼文",
                "您是否要刪除已勾選的貼文？");

            if (confirm == false)
            {
                return;
            }

            if (!sharedPostDatas.Any(n => n.IsChecked))
            {
                await AlertUtil.ShowToast("請先勾選要刪除的貼文。");

                return;
            }

            sharedPostDatas.RemoveAll(n => n.IsChecked);

            await AlertUtil.ShowToast("已刪除勾選的貼文。");
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 刪除貼文（指定貼文）
    /// </summary>
    /// <param name="postID">字串，貼文的 ID</param>
    /// <returns>Task</returns>
    private async Task DeletePost(string? postID)
    {
        try
        {
            bool? confirm = await AlertUtil.ShowConfirmAlert(
                "刪除貼文",
                "您是否要刪除此貼文？");

            if (confirm == false)
            {
                return;
            }

            if (string.IsNullOrEmpty(postID))
            {
                await AlertUtil.ShowToast($"發生錯誤，無效的貼文 ID：{postID}。");

                return;
            }

            PostData? postData = sharedPostDatas.FirstOrDefault(n => n.PostID == postID);

            if (postData == null)
            {
                await AlertUtil.ShowToast($"發生錯誤，找不到對應的貼文資料，貼文 ID：{postID}。");

                return;
            }

            sharedPostDatas.Remove(postData);

            await AlertUtil.ShowToast("已刪除貼文。");
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }

    /// <summary>
    /// 刪除附件（指定附件）
    /// </summary>
    /// <param name="postID">字串，貼文的 ID</param>
    /// <param name="url">字串，附件的網址</param>
    /// <returns>Task</returns>
    private async Task DeleteAttachment(string? postID, string? url)
    {
        try
        {
            bool? confirm = await AlertUtil.ShowConfirmAlert(
                "刪除附件",
                "您是否要刪除此附件？");

            if (confirm == false)
            {
                return;
            }

            if (string.IsNullOrEmpty(postID))
            {
                await AlertUtil.ShowToast($"發生錯誤，無效的貼文 ID：{postID}。");

                return;
            }

            PostData? postData = sharedPostDatas.FirstOrDefault(n => n.PostID == postID);

            if (postData == null)
            {
                await AlertUtil.ShowToast($"發生錯誤，找不到對應的貼文資料，貼文 ID：{postID}。");

                return;
            }

            if (postData?.Attachments == null)
            {
                await AlertUtil.ShowToast($"發生錯誤，此貼文沒有附件。");

                return;
            }

            AttachmentData? attachmentData = postData?.Attachments?.FirstOrDefault(n => n.Url == url);

            if (attachmentData == null)
            {
                await AlertUtil.ShowToast($"發生錯誤，找不到對應的附件資料，附件網址：{url}。");

                return;
            }

            postData?.Attachments?.Remove(attachmentData);

            await AlertUtil.ShowToast("已刪除附件。");
        }
        catch (Exception ex)
        {
            await AlertUtil.ShowErrorAlert(ex.Message);
        }
    }
}